@import url("https://fonts.googleapis.com/css?family=Noto+Sans+JP");
/* 全体スタイル */
* {
	list-style: none;
	text-decoration: none;
	box-sizing: border-box;
	color: #333;
	font-family: "Noto Sans JP", sans-serif;
	font-weight: 600;
	letter-spacing: 1px;
}

.container {
	max-width: 80%;
	margin-left: auto;
	margin-right: auto;
}

/* ヘッダー */
header {
	height: 10vh;
	width: 100%;
	position: fixed;
	transition: all 0.4s ease-in-out;
	z-index: 100;
}
header .container {
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
}
.header-logo img {
	height: 8vh;
}

header .container nav {
	display: flex;
	margin-left: auto;
	align-items: center;
}

.menu ul {
	display: flex;
	align-items: center;
	text-align: center;
	gap: 40px;
}

.menu ul li a {
	position: relative;
	color: #fff;
	font-size: 18px;
	font-weight: 100;
	transition: all 0.3s ease-in-out;
}

/* 下線用の要素を作成し、初期状態では非表示にします */
.menu-hover-action ul li a::before {
	content: ""; /* 空のコンテンツを追加 */
	position: absolute; /* 絶対的な位置指定 */
	width: 0; /* 初期状態では横幅を0に設定 */
	height: 0.8px; /* 下線の高さ */
	background-color: #ffd900; /* 下線の色 */
	bottom: 0; /* 下線をテキストの下に配置 */
	left: 0; /* 初期状態では左端に配置 */
	transition: width 0.3s ease; /* アニメーション設定 */
}

/* ホバー時に下線を伸ばすアニメーション */
.menu-hover-action ul li a:hover::before {
	width: 100%; /* 横幅を100%に設定して伸ばします */
}

.burger {
	z-index: 2;
	width: 40px;
	height: 40px;
	margin-left: 40px;
	display: none;
}
.burger span {
	position: relative;
	display: block;
	margin: auto;
	left: 0;
	height: 3px;
	width: 80%;
	border-radius: 5px;
	background-color: #000;
	transition: all 0.5s ease;
}
.burger span:nth-child(1) {
	top: 30%;
}
.burger span:nth-child(2) {
	top: 44%;
}
.burger span:nth-child(3) {
	top: 58%;
}

.burger:hover {
	opacity: 0.7;
}

.burger.is-active span:nth-child(1) {
	transform: translateY(8px) rotate(-315deg);
}
.burger.is-active span:nth-child(2) {
	opacity: 0;
}
.burger.is-active span:nth-child(3) {
	transform: translateY(-9px) rotate(315deg);
}

/* メイン */
main {
	background-color: rgb(199, 199, 199);
	width: 100%;
}
.main-contents-wrapper {
	position: relative;
	padding-top: 15vh;
	height: 80vh;
	overflow: hidden;
}

/* スライドショー */
.background-slideshow {
	position: absolute;
	display: flex;
	height: 80vh;
	z-index: 1;
}
.background-slideshow ul {
	display: flex;
	animation: loop-slide 20s infinite linear 1s both;
}
@keyframes loop-slide {
	from {
		transform: translateX(0);
	}
	to {
		transform: translateX(-100%);
	}
}
.background-slideshow ul li {
	color: #fff;
	font-size: 320px;
	height: 80vh;
	opacity: 0.04;
	white-space: nowrap;
}

/* トップ画面 */
.top-wrapper {
	position: absolute;
	display: flex;
	top: 0;
	left: 0;
	padding-top: 15vh;
	width: 100vw;
	background: -webkit-linear-gradient(90deg, rgb(175, 175, 175), rgb(0, 0, 0));
	background: linear-gradient(90deg, rgb(175, 175, 175), rgb(0, 0, 0));
}
.top-wrapper-left {
	width: 60%;
	height: 65vh;
	padding-top: 5%;
	padding-left: 20px;
}
.top-wrapper-left h1 {
	color: #e0e4e9;
	font-size: 160px;
	font-family: "MS PMincho";
	text-shadow: rgb(255, 217, 0) 3px 4px 10px;
	white-space: nowrap;
	line-height: 0.7;
}
.top-wrapper-left h2 {
	color: #e0e4e9;
	font-size: 70px;
	font-family: "MS PMincho";
	padding-left: 30px;
	padding-bottom: 50px;
}

/* 電話フォームボタン */
.btn,
a.btn,
button.btn {
	position: relative;
	font-size: 1.6rem;
	font-weight: 700;
	line-height: 1.5;
	display: inline-block;
	padding: 1rem 1rem;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
	text-align: center;
	vertical-align: middle;
	letter-spacing: 0.1em;
	color: #212529;
	border-radius: 1rem;
	z-index: 10;
}

.btn-wrap-pc-sp {
	position: absolute;
	width: 50%;
	display: -webkit-box;
	display: -ms-flexbox;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}
.btn:hover {
	opacity: 0.7;
}

.btn-wrap {
	display: flex;
	bottom: 5%;
	left: 7%;
	margin: auto 20px;
}

a.btn-pc-sp {
	line-height: 1.4;
	width: 49.5%;
	padding: 1.25rem 5rem;
	color: #ffff;
}

a.btn-pc-sp--contact {
	color: #fff;
	background: #eb6100;
	margin-right: 15px;
}

a.btn-pc-sp--tel {
	color: #fff;
	background: #094;
	margin-left: 15px;
}

.fa-position-right {
	position: absolute;
	top: calc(50% - 0.5em);
	right: 1rem;
}

/* 取扱商品 */
.products-wrapper {
	text-align: center;
	margin: auto;
	padding-top: 30px;
	padding-bottom: 5px;
	background: linear-gradient(
		45deg,
		rgba(182, 123, 3, 0.5) 0%,
		rgba(218, 175, 8, 0.5) 45%,
		rgba(254, 233, 160, 0.5) 70%,
		rgba(218, 175, 8, 0.5) 85%,
		rgba(182, 123, 3, 0.5) 90% 100%
	);
}
.products-wrapper p {
	display: block;
	font-size: 22px;
	letter-spacing: 2px;
}
.item-detail {
	position: relative;
	margin-top: 70px;
}
.item-detail p {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	bottom: 15vh;
	left: 0;
	width: 100%;
	padding: 40px 0 40px 0;
	color: #fff;
	background: linear-gradient(
		45deg,
		rgba(182, 123, 3, 0.5) 0%,
		rgba(218, 175, 8, 0.5) 45%,
		rgba(254, 233, 160, 0.5) 70%,
		rgba(218, 175, 8, 0.5) 85%,
		rgba(182, 123, 3, 0.5) 90% 100%
	);
	z-index: 1;
	transition: all 0.8s ease;
}
.item-detail:hover p {
	opacity: 0;
}
.items {
	display: flex;
}

.item {
	position: relative;
	flex: 1;
	height: 70vh;
	background-position: center;
	background-size: cover;
	background-repeat: none;
	transition: all 0.8s ease;
	filter: brightness(0.6);
}
.item:hover {
	flex: 7;
	filter: brightness(1);
}
.item h3 {
	position: absolute;
	bottom: 5%;
	left: 50%;
	transform: translate(-50%, 0);
	color: #fff;
	text-align: center;
	opacity: 0;
	transition: all 0.8s ease;
}
.item:hover h3 {
	opacity: 1;
}

.item-detail .item:nth-child(1) {
	background-image: url(images/product_watch1.jpg);
}
.item-detail .item:nth-child(2) {
	background-image: url(images/product_watch2.jpg);
}
.item-detail .item:nth-child(3) {
	background-image: url(images/product_watch3.jpg);
}
.item-detail .item:nth-child(4) {
	background-image: url(images/product_watch4.jpg);
}
.items .item:nth-child(5) {
	background-image: url(images/product_watch5.jpg);
}

/* 取り扱いブランド一覧 */
.item-type {
	position: relative;
	text-align: center;
	padding-bottom: 250px;
	background-color: #660f25;
}
.item-type h2 {
	font-size: 2rem;
	font-weight: 700;
	padding-top: 50px;
	padding-bottom: 20px;
	color: #fff;
}
.types {
	background-color: #fff;
	display: flex;
	width: 100%;
	flex-wrap: wrap;
	justify-content: space-around;
	margin: auto;
	border-top: 5px solid #ffd900;
	border-bottom: 5px solid #ffd900;
	border-radius: 10px;
}
.type {
	width: 20%;
}
.type img {
	padding: 0 20px;
}

.btn-wrap-item {
	display: flex;
	width: 70%;
	justify-content: center;
	margin: auto;
	bottom: 50px;
	left: 50%;
	transform: translate(-50%, 0);
}

/* 宣伝ポイント */
.induction-wrapper {
	position: relative;
	text-align: center;
	width: 100%;
	padding-top: 40px;
	padding-bottom: 230px;
	background-color: #f5f5f5;
}
.induction-wrapper h2 {
	font-size: 2rem;
	font-weight: 700;
	color: #000;
	padding-bottom: 30px;
}
.inductions {
	display: flex;
	width: 80%;
	justify-content: space-around;
	margin: 0 auto;
}
.induction-point {
	width: 35%;
	padding-top: 40px;
	padding-bottom: 40px;
	background-color: #fff;
	border-radius: 10px;
}
.induction-title {
	display: flex;
	width: 100%;
	text-align: center;
	align-items: center;
	justify-content: center;
	margin: auto;
	padding-bottom: 20px;
}

.induction-title span {
	font-size: 3rem;
	padding-right: 10px;
}
.induction-title h3 {
	font-size: 22px;
	font-weight: 600;
}

.induction-point p {
	width: 90%;
	font-size: 15px;
	line-height: 2;
	margin: auto;
}

.induction-text {
	width: 100%;
	margin-top: 40px;
	padding-top: 60px;
	padding-bottom: 60px;
	font-size: 1.5rem;
	background: -webkit-radial-gradient(rgb(255, 255, 255), rgb(255, 217, 0));
}
.induction-text p {
	display: block;
	font-weight: 600;
}

/* 会社概要 */
.company {
	width: 100%;
	text-align: center;
	padding-top: 30px;
	background-color: #e0e4e9;
}
.company h2 {
	display: block;
	width: 100%;
	font-size: 3rem;
	padding-bottom: 40px;
}
.company-profile {
	display: flex;
}
.company-profile-left {
	width: 50%;
}

/* 全体のスタイル */
.company-profile-left {
	width: 42%;
	margin: 0 auto;
	padding: 20px;
	border-right: 1px solid #ddd;
	border-radius: 8px;
}

/* タイトルのスタイル */
dt {
	font-size: 20px;
	color: #333;
	margin-top: 15px;
	margin-bottom: 20px;
	border-bottom: 1px solid #333;
}

dd {
	margin-bottom: 20px;
}

/* 所在地のスタイル */
dd:nth-child(3) {
	white-space: pre-wrap;
}

/* リンクスタイル */
a {
	color: #007bff; /* リンクの色をブルーに */
	text-decoration: none;
}

a:hover {
	text-decoration: underline; /* ホバー時に下線を表示 */
}

.company-profile-right {
	width: 58%;
	align-items: center;
	padding-top: 100px;
}

/* お問い合わせフォーム */
.Form {
	margin-top: 80px;
	padding-bottom: 80px;
	margin-left: auto;
	margin-right: auto;
	max-width: 720px;
	text-align: center;
}

.Form h2 {
	font-size: 2rem;
	padding-bottom: 40px;
}

@media screen and (max-width: 480px) {
	.Form {
		margin-top: 40px;
	}
}
.Form-Item {
	border-top: 1px solid #ddd;
	padding-top: 24px;
	padding-bottom: 24px;
	width: 100%;
	display: flex;
	align-items: center;
}
@media screen and (max-width: 480px) {
	.Form-Item {
		padding-left: 14px;
		padding-right: 14px;
		padding-top: 16px;
		padding-bottom: 16px;
		flex-wrap: wrap;
	}
}
.Form-Item:nth-child(5) {
	border-bottom: 1px solid #ddd;
}
.Form-Item-Label {
	width: 100%;
	max-width: 248px;
	letter-spacing: 0.05em;
	font-weight: bold;
	font-size: 18px;
}
@media screen and (max-width: 480px) {
	.Form-Item-Label {
		max-width: inherit;
		display: flex;
		align-items: center;
		font-size: 15px;
	}
}
.Form-Item-Label.isMsg {
	margin-top: 8px;
	margin-bottom: auto;
}
@media screen and (max-width: 480px) {
	.Form-Item-Label.isMsg {
		margin-top: 0;
	}
}
.Form-Item-Label-Required {
	border-radius: 6px;
	margin-right: 8px;
	padding-top: 8px;
	padding-bottom: 8px;
	width: 48px;
	display: inline-block;
	text-align: center;
	background: #ffd900;
	color: #000;
	font-size: 14px;
}
@media screen and (max-width: 480px) {
	.Form-Item-Label-Required {
		border-radius: 4px;
		padding-top: 4px;
		padding-bottom: 4px;
		width: 32px;
		font-size: 10px;
	}
}
.Form-Item-Input {
	border: 1px solid #ddd;
	border-radius: 6px;
	margin-left: 40px;
	padding-left: 1em;
	padding-right: 1em;
	height: 48px;
	flex: 1;
	width: 100%;
	max-width: 410px;
	background: #eaedf2;
	font-size: 18px;
}
@media screen and (max-width: 480px) {
	.Form-Item-Input {
		margin-left: 0;
		margin-top: 18px;
		height: 40px;
		flex: inherit;
		font-size: 15px;
	}
}
.Form-Item-Textarea {
	border: 1px solid #ddd;
	border-radius: 6px;
	margin-left: 40px;
	padding-left: 1em;
	padding-right: 1em;
	height: 216px;
	flex: 1;
	width: 100%;
	max-width: 410px;
	background: #eaedf2;
	font-size: 18px;
}
@media screen and (max-width: 480px) {
	.Form-Item-Textarea {
		margin-top: 18px;
		margin-left: 0;
		height: 200px;
		flex: inherit;
		font-size: 15px;
	}
}
.Form-Btn {
	border-radius: 6px;
	margin-top: 32px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 20px;
	padding-bottom: 20px;
	width: 280px;
	display: block;
	letter-spacing: 0.05em;
	background: #ffd900;
	color: #000;
	font-weight: bold;
	font-size: 20px;
	border: none;
}
@media screen and (max-width: 480px) {
	.Form-Btn {
		margin-top: 24px;
		padding-top: 8px;
		padding-bottom: 8px;
		width: 160px;
		font-size: 16px;
	}
}

/* フッター */
footer {
	position: relative;
	background-color: #66500f;
	height: 30vh;
	width: 100%;
	z-index: 100;
	text-align: center;
}
footer .container {
	display: flex;
	width: 100%;
}
.footer-left {
	width: 50%;
}
.footer-menu ul {
	display: flex;
}
footer .container nav {
	display: flex;
	padding-top: 50px;
	width: 100%;
	align-items: center;
	justify-content: center;
}

.footer-menu ul {
	display: flex;
	height: 15vh;
	align-items: end;
	text-align: center;
	gap: 40px;
}

.footer-menu ul li a {
	position: relative;
	color: #fff;
	font-size: 18px;
	font-weight: 100;
	transition: all 0.3s ease-in-out;
}
footer p {
	position: absolute;
	bottom: 1px;
	left: 50%;
	transform: translate(-50%, 0);
	color: #fff;
	font-weight: 200;
}
.footer-right {
	position: relative;
	width: 50%;
	text-align: center;
	margin: auto;
}
.footer-logo {
	padding-top: 30px;
	padding-bottom: 15px;
	width: 100%;
}
.footer-logo img {
	height: 10vh;
}

.footer-right .btn-wrap-footer {
	display: flex;
	width: 100%;
	height: 50px;
	align-items: center;
}
.footer-right .btn-wrap-footer a {
	font-size: 1rem;
	padding: 10px;
}

/* SF版 */
@media (max-width: 768px) {
	/* ヘッダー */
	.header-logo img {
		height: 5vh;
	}

	.burger {
		display: block;
	}
	.burger.is-active span {
		background-color: #ffd900;
	}

	.menu {
		display: none;
		position: fixed;
		z-index: 1;
	}
	.menu.is-active {
		display: flex;
		width: 100vw;
		height: 100vh;
		top: 0;
		left: 0;
		background-color: #000000b4;
	}
	.menu ul {
		display: block;
		margin: auto;
		width: 70%;
	}
	.menu ul li {
		display: block;
		margin: 50px auto;
		padding-bottom: 10px;
		border-bottom: 1px solid #ffd900;
	}
	.menu ul li a {
		font-size: 18px;
		color: #ffffff;
	}

	/* メイン */
	.main-contents-wrapper {
		height: 100vh;
		overflow: hidden;
	}

	.background-slideshow {
		height: 100vh;
	}

	.background-slideshow ul li {
		font-size: 230px;
	}

	.top-wrapper {
		display: block;
		flex-direction: row-reverse;
		justify-content: left;
		height: 100vh;
		padding-top: 10vh;
		padding-left: 0%;
		background: linear-gradient(180deg, rgb(175, 175, 175), rgb(0, 0, 0));
	}
	.top-wrapper-left {
		text-align: center;
		width: 80%;
		margin: auto;
		height: 16%;
		padding: 0;
	}
	.top-wrapper-left h1 {
		font-size: 48px;
	}
	.top-wrapper-left h2 {
		font-size: 24px;
		padding: 0;
		padding-bottom: 15px;
	}
	.top-wrapper-right {
		width: 100%;
		height: 84%;
	}

	/* 電話フォームボタン */
	.btn,
	a.btn,
	button.btn {
		font-size: 0.8rem;
		font-weight: 500;
		line-height: 1;
		display: block;
	}
	.btn-wrap {
		left: 0;
	}
	.btn-wrap-pc-sp {
		width: 100%;
		justify-content: center;
		margin: auto;
	}

	a.btn-pc-sp {
		line-height: 1.4;
		color: #ffff;
		padding: 10px;
	}

	a.btn-pc-sp--contact {
		color: #fff;
		background: #eb6100;
		width: 40%;
	}

	a.btn-pc-sp--tel {
		color: #fff;
		background: #094;
		width: 40%;
	}

	.products-wrapper {
		padding: 0px 0;
	}
	.products-wrapper p {
		font-size: 14px;
		letter-spacing: normal;
	}
	/* 取り扱いブランド一覧 */
	.item-type {
		padding-bottom: 180px;
	}
	.item-type h2 {
		font-size: 24px;
		padding-bottom: 30px;
	}
	.type {
		width: 40%;
	}

	/* 宣伝ポイント */
	.induction-wrapper {
		padding-bottom: 130px;
	}
	.induction-wrapper h2 {
		font-size: 1.5rem;
	}
	.inductions {
		display: block;
		width: 90%;
	}
	.induction-point {
		width: 100%;
		padding-bottom: 40px;
	}
	.induction-title span {
		font-size: 1.5rem;
	}
	.induction-title h3 {
		font-size: 18px;
	}
	.induction-text p {
		font-size: 1rem;
	}
	.company-profile {
		display: block;
	}
	.company-profile-left {
		width: 90%;
	}
	.company h2 {
		font-size: 2rem;
	}
	.company-profile-right {
		position: relative; /* 子要素の基準とする */
		padding-bottom: 75%; /* 表示するパディング領域の縦横比（4：3） */
		width: 100%;
		height: 0;
		overflow: hidden;
	}
	.company-profile-right iframe {
		position: absolute; /* 親要素のパディング領域に配置するために絶対配置を指定 */
		top: 0; /* 垂直方向トップに配置 */
		left: 0; /*  水平方向左に配置 */
		width: 100%; /* 親コンテナの幅いっぱいに表示 */
		height: 100%; /* 親コンテナの高さいっぱいに表示 */
	}
	/* フッター */
	.footer-right {
		width: 100%;
		padding-top: 40px;
	}
	.footer-left {
		display: none;
	}
	.footer-right .btn-wrap-footer a {
		font-size: 0.7rem;
	}
	a.btn-pc-sp--contact {
		width: 50%;
	}
	a.btn-pc-sp--tel {
		width: 50%;
	}
	footer p {
		font-size: 0.6rem;
	}
	.footer-logo {
		padding-top: 0px;
	}
	.footer-logo img {
		height: 5vh;
	}
}
